.footer {
  position: absolute;
  height: 90px;
  background: linear-gradient, #5ab0ff;
  width: 100%;
  background-color: #5ab0ff;
  top: 4700px;
}
.txt {
  cursor: pointer;
  position: absolute;
  width: 340px;
  height: 58px;
  left: 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
  padding: 21px 0 14px 16px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.txt1 {
  cursor: pointer;
  position: absolute;
  width: 110px;
  height: 59px;
  left: 1720px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 59px;
  color: #ffffff;
  padding: 15px 0px 19px 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.img {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 801px;
  margin: 15px 0 0 0;
  cursor: pointer;
}
.img1 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 873px;
  margin: 15px 0 0 0;
  cursor: pointer;
}
.img2 {
  position: absolute;
  width: 64px;
  height: 64px;
  left: 945px;
  margin: 15px 0 0 0;
  cursor: pointer;
}
