.Wrapper {
}

.Ads {
  background-image: url(/public/Ads.png);
  width: 273px;
  height: 643px;
  left: 1630px;
  top: 90px;
  position: absolute;
  background-repeat: no-repeat;
  cursor: pointer;
}

.Card {
  background-image: url(/public/sm.iphone_13\ 1.png);
  position: absolute;
  width: 821px;
  height: 721px;
  left: 1px;
  top: 90px;
  padding: 3px 13px 39px 1px;
  background-repeat: no-repeat;
  text-align: left;
  cursor: pointer;
}

.TextFoto {
  position: absolute;
  top: 545px;

  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  padding: 0px 58px 8px 10px;
  color: #ffffff;
}
.TimeFoto {
  position: absolute;
  top: 672px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding: 8px 0 18px 10px;
  color: #ffffff;
}

.Textnew {
  position: absolute;
  top: 90px;
  height: 721px;
  width: 721px;
  left: 840px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: initial;
  grid-auto-rows: minmax(240px 340px);
  grid-row-gap: 1px;
  grid-column-gap: 13px;
}

.bottonNews {
  position: absolute;
  top: 900px;
  height: auto;
  width: 1780px;
  left: 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: initial;
  grid-auto-rows: minmax(240px 340px);
  grid-row-gap: 10px;
  grid-column-gap: 15px;
}
